alias qr='qrencode -t utf8 -o -'
alias publicip='curl -s ifconfig.me'
alias whereami='curl -s ifconfig.es/geo'
alias localip="ip address | grep -Po '192\.168\.\d{1,3}\.\d{1,3}' | grep -Pv '\.255$'"

# SSH
alias ssh-no-pubkey="ssh -o 'PubkeyAuthentication=no'"

# Image Magick
alias convert='magick'

# Use the perl-rename instead of the default util-linux rename if installed
command -v perl-rename >/dev/null && alias rename=perl-rename

# aria2
alias aria2c='aria2c --file-allocation=none -c'
alias aria2cfast='aria2c -x16 -s16 -j16 -k1M --optimize-concurrent-downloads=true'

# LaTex
alias tlmgr='/usr/share/texmf-dist/scripts/texlive/tlmgr.pl --usermode'

# Terminal
alias alert='notify-send -a Konsole -i konsole -t 3000 --urgency=normal'

# FFmpeg
alias ffmpeg='ffmpeg -hide_banner'
alias ffprobe='ffprobe -hide_banner'
alias ffplay='ffplay -hide_banner'

# mpv
alias mpv-webcam='mpv --demuxer-lavf-format=video4linux2 --demuxer-lavf-o-set=input_format=mjpeg av://v4l2:/dev/video0'

# Override shell buildins with the GNU versions
alias time='/usr/bin/env time'
alias watch='/usr/bin/env watch'

# Package manager
alias pacmanlist='pacman -Q'
alias pacmanlistmanual='pacman -Qe'
alias yayclear='yay -Sc --aur'
alias yaylist='pacman -Qm'

# Youtube-dl
alias yt-dlp-subs="yt-dlp --write-sub --sub-format best --sub-lang en,de --embed-subs"
alias youtube-dl='yt-dlp'
yt-dlp-iframe() {
	IFRAME_URL="$(curl -s "$1" | htmlq iframe -a src)"
	yt-dlp "$IFRAME_URL" -o "$(basename "$1").mp4"
}

# yadm
alias yadmst='yadm status'

# Firefox
alias firefox=firefox-developer-edition

# Use better jdupes (better fork) instead of fdupes
command -v jdupes >/dev/null && alias fdupes=jdupes

# Use sudo -E vi instead of sudoedit
alias sudoedit="sudo -E vi"

# Codium
alias code=codium

# IRB
waypipe-schwan() {
	waypipe --no-gpu ssh schwan env QT_QPA_PLATFORM=wayland ELECTRON_OZONE_PLATFORM_HINT=wayland GDK_BACKEND=wayland $@
}

# zoxide
command -v zoxide >/dev/null && alias j='__zoxide_z "$@"'

# Git
alias gpu='git push upstream'
alias grb='git rebase'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias grbi='git rebase --interactive'
alias grbo='git rebase --onto'
alias grbs='git rebase --skip'
alias grbd='git rebase $(git_develop_branch)'
alias grbm='git rebase $(git_main_branch)'
alias grbom='git rebase origin/$(git_main_branch)'
alias grbum='git rebase upstream/$(git_main_branch)'
alias grf='git reflog'
alias gr='git remote'
alias grv='git remote --verbose'
alias gra='git remote add'
alias grrm='git remote remove'
alias grmv='git remote rename'
alias grset='git remote set-url'
alias grup='git remote update'
alias grh='git reset'
alias gru='git reset --'
alias grhh='git reset --hard'
alias grhk='git reset --keep'
alias grhs='git reset --soft'
alias gpristine='git reset --hard && git clean --force -dfx'
alias gwipe='git reset --hard && git clean --force -df'
alias groh='git reset origin/$(git_current_branch) --hard'
alias grs='git restore'
alias grss='git restore --source'
alias grst='git restore --staged'
alias gunwip='git rev-list --max-count=1 --format="%s" HEAD | grep -q "\--wip--" && git reset HEAD~1'
alias grev='git revert'
alias greva='git revert --abort'
alias grevc='git revert --continue'
alias grm='git rm'
alias grmc='git rm --cached'
alias gcount='git shortlog --summary --numbered'
alias gsh='git show'
alias gsps='git show --pretty=short --show-signature'
alias gstall='git stash --all'
alias gstaa='git stash apply'
alias gstc='git stash clear'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gstp='git stash pop'
alias gsta='git stash push'
alias gsts='git stash show --patch'
alias gst='git status'
alias gss='git status --short'
alias gsb='git status --short --branch'
alias gsi='git submodule init'
alias gsu='git submodule update'
alias gsw='git switch'
alias gswc='git switch --create'
alias gswd='git switch $(git_develop_branch)'
alias gswm='git switch $(git_main_branch)'
alias gta='git tag --annotate'
alias gts='git tag --sign'
alias gtv='git tag | sort -V'
alias gignore='git update-index --assume-unchanged'
alias gunignore='git update-index --no-assume-unchanged'
alias gwch='git log --patch --abbrev-commit --pretty=medium --raw'
alias gwt='git worktree'
alias gwta='git worktree add'
alias gwtls='git worktree list'
alias gwtmv='git worktree move'
alias gwtrm='git worktree remove'

# Common aliases
alias l='ls -lFh'     #size,show type,human readable
alias la='ls -lAFh'   #long list,show almost all,show type,human readable
alias lr='ls -tRFh'   #sorted by date,recursive,show type,human readable
alias lt='ls -ltFh'   #long list,sorted by date,show type,human readable
alias ll='ls -l'      #long list
alias ldot='ls -ld .*'
alias lS='ls -1FSsh'
alias lart='ls -1Fcart'
alias lrt='ls -1Fcrt'
alias lsr='ls -lARFh' #Recursive list of files and directories
alias lsn='ls -1'     #A column contains name of files and directories
alias grep='grep --color'
alias t='tail -f'
alias h='history'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias d='dirs -v'
alias e=exit
alias c=clear

# Tmux
alias tm='tmux attach || tmux new'

